
body {
    margin: 0;

}

.hero {
    background-color: black;
    width: 100vw;
    display: inline-block;
    min-height: 100vh;

}

.logo {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 35px;
    width: 180px;
    z-index: 2;
}

.arrow {
    left: 49%;
    bottom: 63px;
    position: absolute;
    width: 25px;

}


.heroimage {
    width: 1400px;
    height: 900px;
    top: 63px;
    right: 80px;
    position: absolute;
    background: url("../WIRE/images/hobsresized.jpg") no-repeat center fixed;
    background-size: cover;

}

.textwrapper {
    position: absolute;
    bottom: 180px;
    left: 63px;
    width: 535px;
}

.headline {
    font-family: "termina", Arial, SansSerif;
    font-size: 49px;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 1.15em;
    margin-bottom: 10px;
}

.tag {
    font-family: "termina", Arial, SansSerif;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .07em;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;

}

.caption {
    font-family: "Source Code Pro", Arial, SansSerif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
}

.viewall {
    font-family: "Source Code Pro";
    text-decoration: underline;
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    transition: opacity 200ms;
}

.viewalltwo {
    font-family: "Source Code Pro";
    text-decoration: underline;
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 15px;
    margin-top: -35px;
    margin-right: 20px;
    color: white;
    transition: opacity 200ms;
}

.viewalltwo:hover {
    opacity: .75;
}

.viewall:hover {
    opacity: .75;
}

.smallheadline {
    font-family: "Avenir Next", SansSerif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .05em;
    margin-bottom: 4px;
    line-height: 1.2em;
}

#white {
    color: white;
}

#black {
    color: black;
}

/*Scroll gallery*/

.gallerywrap {
    margin-top: 80px;
    display: block;
    min-height: 200px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 40px;
    overflow: hidden;
}

.slidesjs-slide {
    display: none;
    overflow: visible;
}

.slidesjs-container {
    margin-bottom: -392px;
    height: 435px;
}


.slidesjs-next {
    display: inline-block;
    width: 25px;
    height: 15px;
    background-image: url("../WIRE/images/arrowright.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    float: right;
    position: absolute;
    left: -90px;
    top: -432px;
    z-index: 100;
    transition: opacity 350ms;
    cursor: pointer;

}

.slidesjs-previous {
    display: inline-block;
    width: 25px;
    height: 15px;
    background-image: url("../WIRE/images/arrowleft.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    float: right;
    position: absolute;
    top:-432px;
    left:-155px;
    transition: opacity 350ms;
    cursor: pointer;
}

#slides2 .slidesjs-previous {
    background-image: url("../WIRE/images/arrowwhiteback.png");
}

#slides2 .slidesjs-next {
    background-image: url("../WIRE/images/arrowwhitenext.png");
}

.slidesjs-next:hover {
    opacity: .6;
}

.slidesjs-previous:hover {
    opacity: .6;
}

.slidesjs-navigation {
    position: relative;
    z-index: 99;
}

.slidesjs-pagination {
    display: none;
}

#arrow2 {
    display: inline-block;
    margin-left: 20px;
    float: right;
    height: 12px;
    margin-top: 33px;
    margin-bottom: 20px;
}

.gallerycaption {
    background-color: white;
    width: 420px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.gallerypic {

    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 63px;
    position: relative;
    transition: opacity 400ms;
    cursor: pointer;
}

.gallerypic:hover {
    opacity: .9;
}

.gallery1 {
    width: 100%;
    height: 540px;
    margin-top: 15px;
    margin-bottom: 63px;
    position: relative;
}


/*Second gallery*/

.gallery2 {

    width: 100%;
    min-height: 630px;
    background-color: black;
    margin-top: 63px;
    margin-bottom: 63px;
    position: relative;
}

.tagcenter {
    font-family: "termina", Arial, SansSerif;
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .07em;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 200px;
    text-align: center;
}

.portalheadline {
    font-family: "Avenir Next", Arial, SansSerif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: .06em;
    margin: 0 auto;
    display: block;
    position: relative;
    line-height: 1.2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 7px;
}

.captioncenter {
    font-family: "Source Code Pro", Arial, SansSerif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4em;
    padding-bottom: 25px;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.tagline {
    font-family: "Source Code Pro", Arial, SansSerif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: .07em;
    top: 110px;
    z-index: 110;
    display: block;
    text-align: center;
    position: absolute;
    color: white;
    width: 100vw;
}


.portalpic {

    width: 60%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
    transition: opacity 400ms;
    cursor: pointer;
    /*box-shadow: 2px 2px 2px #888888;*/
}

.portalpic:hover {
    opacity: .9;
}

#one {
    background-image: url("../WIRE/images/tracks2.jpg")
}

#two {
    background-image: url("../WIRE/images/laptop.jpg")
}

#three {
    background-image: url("../WIRE/images/tracks.jpg");
}

#four {
    background-image: url("../WIRE/images/chairsnew.jpg")
}

#five {
    background-image: url("../WIRE/images/gaelic.jpg");
}

#six {
    background-image: url("../WIRE/images/portal2.jpg")
}

#seven {
    background-image: url("../WIRE/images/portal9.jpg")
}

#eight {
    background-image: url("../WIRE/images/portal8.jpg")
}

#nine {
    background-image: url("../WIRE/images/mosdef2.jpg")
}

#ten {
    background-image: url("../WIRE/images/cosmic.png")
}

#eleven {
    background-image: url("../WIRE/images/book.jpg")
}

#slides,
#slides2,
#slides3 {
    overflow: visible;
    margin-bottom:50px;
}


/*Scroll text animation*/

.frame {
    height: 85px;
    /*width: 800px;*/
    border: solid black 2px;
    overflow: hidden;
    margin-top: 15px;
    position: relative;
}

#subscribe {
    width: 1650px;
    height: 60px;
    background: url("../WIRE/images/ad-08.svg");
    background-repeat: repeat-x;
    margin-top: 17px;
    position: relative;
    animation: move 20s infinite linear; /* trial and error will be necessary to figure out the exact timing */
}

@keyframes move {
    0% { background-position: 0px 0px; }
    100% { background-position: -2000px 0px; }
}

.frame2 {
    height: 86px;
    /*width: 800px;*/
    background-color: black;
    overflow: hidden;
    position: relative;

}

#news {
    /*width: 1500px;*/
    height: 60px;
    background: url("../WIRE/images/news-08.svg");
    background-repeat: repeat-x;
    margin-top: 20px;
    position: relative;
    animation: move 11.35s infinite linear; /* trial and error will be necessary to figure out the exact timing */
}

.newscontainer {
    width: 100%;
    height: 480px;
    margin-top: 40px;
    margin-bottom: 63px;
    position: relative;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.storycontainer {
    min-height: 30px;
    display: inline-block;
    margin-bottom: 30px;

}

#left {
    width: 32%;
    float: left;
}

#center {
    width: 32%;
    margin-left: 2%;

}

#right {
    width: 32%;
    float: right;
}

.newsimage {
    width: 100%;
    height: 325px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 300ms;
    cursor: pointer;
}

.newsimage:hover {
    opacity: .75;
}

.newsheadline {
    font-family: "Avenir Next", Arial, SansSerif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .06em;
    margin-top: 20px;
    line-height: 1.4em;
    text-align: center;
    display: block;
}


#left1 {
    background-image: url("../WIRE/images/cobyfull.jpg")
}


#center1 {
    background-image: url("../WIRE/images/weaponise.jpg")
}

#right1 {
    background-image: url("../WIRE/images/hval.jpg")
}


#left2 {
    background-image: url("../WIRE/images/wit.jpg")
}


#center2 {
    background-image: url("../WIRE/images/edge.jpg")
}

#right2 {
    background-image: url("../WIRE/images/dillon.jpg")
}


#left3 {
    background-image: url("../WIRE/images/pil.jpg")
}


#center3 {
    background-image: url("../WIRE/images/livearts.jpg")
}

#right3 {
    background-image: url("../WIRE/images/ullen.jpg")
}


.rotate {
    animation: spin 2s forwards;
    transform-origin: 70% 48%;
}

.date {
    font-family: "Source Code Pro";
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    letter-spacing: .06em;
}

.gallery3 {

    width: 100%;
    min-height: 680px;
    border: solid black 2px;
    margin-top: 63px;
    margin-bottom: 100px;
    position: relative;
}

.essayspic {
    width: 60%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
    transition: opacity 300ms;
    cursor: pointer;
}

.essayspic:hover {
    opacity: .9;
}

.bouncing {
    animation: 3s ease 0s normal none infinite running bounce;
    bottom: 17px;
    height: 44px;
    left: 50%;
    position: absolute;
    /*width: 60px;*/
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-5px);}
    60% {transform: translateY(-2px);}
}

.bounce {
    animation-name: bounce;
}

/*menu expand*/
.button {
    width: 28px;
    height: 28px;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: black;
    border: 2px solid black;
    /*background-image: url("../WIRE/images/menublack.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*color: transparent;*/
    z-index: 102;
    cursor: pointer;
}


.menu {
    width: 250px;
    height: 100vh;
    background-color: white;
    position: fixed;
    display: none;
    z-index: 101;
    margin-top: -50px;
    padding-top: 50px;

}

.rotate {

    background-color: white;
    border: 2px solid black;
}

.menutext {
    font-family: "Termina", Arial, SansSerif;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 7px;
    letter-spacing: .08em;
}

.categories {
    font-family: "Termina", Arial, SansSerif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: .07em;
}

#menuitem {
    cursor: pointer;
    transition: opacity 200ms;
}

#menuitem:hover {
    opacity: .65;
}


.menucontainer {
    margin-top: 100px;
    margin-left: 30px;
}

.heroimage2 {
    width: 1400px;
    height: 600px;
    top: 95px;
    left: 0px;
    position: absolute;
    background: url("../WIRE/images/mosdef2.jpg") no-repeat center fixed;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -30px;
}

.heroimage3 {
    width: 1400px;
    height: 500px;
    /*top: 95px;*/
    /*left: 0px;*/
    position: relative;
    background: url("../WIRE/images/wutang.jpg") no-repeat center fixed;
    background-size: cover;
    margin-bottom: 25px;
    margin-top: 25px;
}

.article {
    font-family: "Avenir Next", Arial, SansSerif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 20px;

}

.articlecontainer {
    width: 580px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;

}

.author {
    font-family: "Source Code Pro", Arial, SansSerif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 0.07em;
}

.caption {

}

#article {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 40px;
}

.articlehead {

    width: 100vw;
    display: inline-block;
    height: 720px;

}

.subhead {
    font-family: "Avenir Next", Arial, SansSerif;
    line-height: 1.3em;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-left: 40px;
    margin-right: 45px;

}

.pullquote {
    font-family: "Source Code Pro", Arial, SansSerif;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-weight: 400;

}

.magazine {

    width: 100%;
    height: 400px;
    /*background-color: lightgrey;*/
    padding-top: 25px;
    overflow: hidden;
}

.black {
    width: 100%;
    height: 350px;
    margin-bottom: 25px;
    background-color: black;
    padding-left: 45px;
    padding-top: 10px;
}

.magazinecontent {
    font-family: Termina, SansSerif;
    font-size: 21px;
    color: white;
    letter-spacing: 0.04em;
    font-weight: 500;
    margin-top: 30px;
}

.magazinepreview {
    font-family: "Avenir Next", Arial, SansSerif;
    color: white;
    font-size: 23px;
    width: 725px;
    letter-spacing: 0.05em;
    margin-top: 20px;
    line-height: 1.3em;

}

.magazinepic {
    transform: rotate(15deg);
    transform-origin: 50% 50%;
    transition-timing-function: ease;
    position: absolute;
    width: 325px;
    /*top:0px;*/
    right:350px;

}

.footer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.logo2 {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
    width: 90px;
    z-index: 2;
}

.heroimage4 {
    width: 1000px;
    height: 625px;
    top: 325px;
    right: 350px;
    position: absolute;
    background: url("../WIRE/images/portal9.jpg") no-repeat center;
    background-size: cover;

}

.headlinesmaller {
    font-family: "termina", Arial, SansSerif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.portalcaption {
    font-family: "termina", Arial, SansSerif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.3em;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.portalcaption2 {
    font-family: "termina", Arial, SansSerif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.5em;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.portalcaption3 {
    font-family: "termina", Arial, SansSerif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.5em;
    margin: 0 auto;
}


.portalimage {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 300ms;
    cursor: pointer;
}

.portalcontainer {
    width: 100%;
    height: 480px;
    margin-top: 80px;
    margin-bottom: 0px;
    position: relative;
    overflow: scroll;
}

.textcontainer {
    position: absolute;
    top: 360px;
    width: 60%;
    left: 15%;
}

.textcontainersmall {
    position: absolute;
    top: 360px;
    width: 90%;
    left: 5%;
}


.portalimage:hover {
    opacity: .75;
}

#fullwidth {
    background-image: url("../WIRE/images/portal8.jpg");
}

.portalcontainer2 {
    width: 48%;
    height: 480px;

    position: relative;
    overflow: scroll;
    display: inline-block;
}

#leftportal {
    width: 48%;
    float: left;
    margin-top: 50px;
}


#rightportal {
    width: 48%;
    float: right;
    margin-top: 50px;
}

#portal1 {
    background-image: url("../WIRE/images/portal12.jpg");
}

#portal2 {
    background-image: url("../WIRE/images/gaelic.jpg");
}

#portal3 {
    background-image: url("../WIRE/images/portal10.jpg");
}

#portal4 {
    background-image: url("../WIRE/images/portal2.jpg");
}

.morestories {
    font-family: "termina", Arial, SansSerif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    transition: opacity 200ms;
}

.morestories:hover {
    opacity: .65;
}











